@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@1,700&family=Dancing+Script:wght@700&display=swap');

main, body, html{
    height: 100%;
    margin:0;
    font-size: 16px;
    font-family: 'Poppins';
    font-weight: 400;
    line-height: 1.8em;
    color:#666;
    background-color: #3E92CC;
}

a {
    text-decoration: none;
    color: inherit
}



.container{
    width: 80%;
    margin: 0 auto;
}

header{
    background: rgb(74, 72, 72);
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.logo {
    float: left;
    padding:5px 50px;
    height: auto;
    width: auto;
    max-height: 100px;
    max-width: 100px;
}


nav {
    float:right;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
    display: inline-block;
    margin-left: 25px;
    padding-top: 25px;
    position: relative;
    color: rgb(247, 229, 207);
}

nav a{
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 25px;
}

nav a:hover {
    color: #ff0202;
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    width: 0%;
    background-color: #02ffff;
    position: absolute;
    top: 0;
    transition: all ease-in-out 500ms;
}

nav a:hover::before {
    width: 100%;
} 


.heading {
    display: flex;
    justify-content: center;
    font-size: 6em;
    font-weight: 700;
    font-family: 'Barlow Condensed', sans-serif;
    color: black;
    text-shadow:  3px 1px#02ffff;
}

footer {
    background-color: whitesmoke;
    color: rgb(75, 74, 74);
    max-height: 150px;
}

footer::after {
    content: '';
    display: table;
    clear: both;
}

.button {
    text-align: center;
    margin-bottom: 0;
    color: rgb(75, 74, 74);
    letter-spacing: 5px;
    width: 80%;
    margin: 0 auto;
    border: none;
    background-color: whitesmoke;
    font-family: 'Amatic SC';
    font-size: 25px;
    text-decoration: none;
}

.media {
    top: 20%;
    left: 50%;
    color: rgb(75, 74, 74);
}

.icons {
    list-style: none;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    padding: 20px 20px;
    max-width: 180px;
    transition: .5s;

}

i:hover {
    color: black;
    border: 1px solid whitesmoke;
    transition: .5s;
}

.button:hover {
    color: black;
    transition: .5s;
}